// contact page scss start

// hero section start
.contact-bg{
    background-image:url(../images/contact-bg.png);
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
}
// hero section end

// contact section start
.contact{
    background-image:url(../images/contact.png);
    background-position:center;
    background-size:cover;
    padding: 50px 0;
    background-repeat:no-repeat;
    input{
        width: 100%;
        display: block;
        border:1px solid #848282;
        border-radius:30px;
        padding: 15px ;
        color:#848282;
        margin: 15px 0;
    }
    textarea{
        width: 100%;
        display: block;
        border:1px solid #848282;
        border-radius:30px;
        padding: 15px ;
        color:#848282;
        margin: 15px 0;
    }
    .btn{
        border-radius:30px !important;
        margin:15px;
        padding: 15px 45px;
    }
}
// contact section end


// stay in touch section start

.contact-box{
    background-color:$white;
    padding: 30px 15px;
    margin: 60px 0;
    i{
        font-size: 50px;
    }
}
// stay in touch section end