// journal scss start

.journal-1{
    background-image:url(../images/journal-bg.png);
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

// journal scss end